<!DOCTYPE html>
<html>
<head>
	<title>Delete Data</title>
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 

</head>
<body bgcolor="bg-success">
	<form action="{{url_for('deleteData',register_id=register.id)}}" method='POST'>
		<div class="container">
			<h1>Do you want to delete {{register.name}}</h1>
		</div>
		<div class="container ml-5 text-center">
			<div class="form-group">
				<button type="submit" class="btn btn-success ml-5">Delete</button>
			</div>
		</div>
	</form>
</body>