<!DOCTYPE html>
<html>
<head>
	<title>email verify</title>
</head>
<body>
<form action="{{url_for('email_validate')}}" method='POST'>
	<div class="container">
			<div>
				{% with messages=get_flashed_messages() %}
				{% if messages %}

				<ul>
					{% for message in messages %}
					<li><h2>{{message}}</h2></li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}

			</div>
	<h1>OTP has been send to your email so please check it once</h1>
	Enter OTP:<input type="text" name="otp">
	<input type="submit" value="OTP submit">
</form>

</body>
</html>