<!DOCTYPE html>
<html>
<head>
	<title>Show_Data</title>
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 

</head>
<body div class="view" style="background-image:url();background-repeat: no-repeat;background-size: cover;background-position: center center;">
	<form action="" method="post">
		<div class="container">
			<h1 class="mt-5">Register Data</h1>
			<div>
				{% with messages=get_flashed_messages() %}
				{% if messages %}

				<ul>
					{% for message in messages %}
					<li><h2>{{message}}</h2></li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}

			</div>
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Surname</th>
						<th scope="col">Email ID</th>
						<th scope="col">Branch</th>
						<th scope="col" colspan="2">Action</th>
					</tr>
					{% for r in reg %}
					<tr>
						<td>{{r.id}}</td>
						<td>{{r.name}}</td>
						<td>{{r.surname}}</td>
						<td>{{r.email}}</td>
						<td>{{r.branch}}</td>
						<!-- <td><button type="submit" class="btn btn-success">edit</button></td>
						<td><button type="submit" class="btn btn-success">delete</button></td> -->
						<th><a href="{{url_for('editData',register_id=r.id)}}">
						Edit</a></th>
						<th><a href="{{url_for('deleteData',register_id=r.id)}}">Delete</a></th>
					</tr>
					{% endfor %}

				</thead>
			</table>
			<div class="form-group col-sm-offset-2 col-sm-6">
			<button type="submit" class="btn btn-success">add</button>
			</div>
		</div>
	</form>


</body>
</html>